@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.formWrapper {
  position: relative;
  width: 240px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
}
.circle {
  position: absolute;
  width: 240px;
  height: 240px;
  border: 1px solid #fff;
  transition: 0.5s;
}
.circle:nth-child(1) {
  border-radius: 38% 42% 43% 37% / 41% 44% 56% 59%;
  animation: animate 30s linear infinite;
}
.circle:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate 18s linear infinite;
}
.circle:nth-child(3) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate2 34s linear infinite;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 180px;
}

.formLabel {
  margin-top: 3px;
}

.formInput {
  border: none;
  border-radius: 7px;
  padding: 4px;
}

.formInput:hover,
.formInput:focus {
  outline: none;
  box-shadow: 0 0 2px var(--gradient-color-second),
    0 0 3px var(--gradient-color-second), 0 0 4px var(--gradient-color-second),
    0 0 5px var(--gradient-color-second), 0 0 6px var(--gradient-color-second),
    0 0 7px var(--gradient-color-second), 0 0 8px var(--gradient-color-second);
}

.form button {
  align-self: center;
  margin-top: 15px;
}

.formWrapper:hover .circle {
  border: 2px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

.error {
  color: var(--gradient-color-third);
  font-size: 10px;
}
